@import "./fonts.scss";

// Color Variables

$tesla-black-light: #121212;
$tesla-black: #000;
$tesla-white: #fff;
$tesla-dark-blue: #040c36;
$tesla-blue: #008dff;
$tesla-light-blue: #2699fb;
$tesla-lighter-blue: #7fc4fd;
$tesla-dark-grey: #707070;
$tesla-dark-grey: #cccccc;
$tesla-light-grey: #f0f2f7;

html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: $tesla-white;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 3.75rem;
}

h2 {
	font-size: 2.15rem;
}

// utils

.container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	// padding: 0 2.5rem;
}

// Others

.header {
	background-color: $tesla-black-light;
	padding: 1.35rem 0;
	text-align: center;
}

.navbar {
	width: 100%;
	height: 730px;
	background-image: url("../assets/img/hero-image@2x.png");
	background-repeat: no-repeat;
	background-position-y: 95%;
	background-position-x: center;

	.container {
		width: 100%;
	}

	.button-group {
		display: flex;
		justify-content: center;
		padding-top: 2.5rem;

		button {
			color: $tesla-white;
			text-transform: uppercase;
			background-color: transparent;
			border: none;
			font-size: 0.95rem;
			font-weight: 600;
			margin: 0 2rem;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0.85rem;
			letter-spacing: 0.75px;
			cursor: pointer;
			border-bottom: 1.5px solid transparent;

			&:hover {
				border-bottom: 1.5px solid $tesla-white;
			}

			&.active {
				border-bottom: 1.5px solid $tesla-white;
			}
		}
	}
}

.car-description {
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-weight: 300;
		color: $tesla-dark-blue;
		text-align: center;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	p {
		font-family: "Arial", sans-serif;
		text-align: center;
		font-weight: normal;
		max-width: 33.2rem;
		line-height: 1.45rem;
	}

	a {
		margin-top: 3.5rem;
		span {
			width: 4.5rem;
			height: 4.5rem;
			border: 2px solid $tesla-dark-blue;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@keyframes animateWheel {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.calculator {
	margin-top: 5rem;

	h2 {
		text-align: center;
	}

	.full-car-image {
		background-image: url("../assets/img/car-base@2x.png");
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		margin: 0;
		// display: inline;
		height: 32vw;
		max-height: 388px;

		.carwheel {
			position: absolute;
			// width: 80%;
			max-width: 10%;
			animation: animateWheel 1s linear infinite;

			&.left {
				left: 24.675%;
				bottom: 3.5rem;
			}

			&.right {
				right: 26.5%;
				bottom: 3.5rem;
			}
		}

		// img:first-of-type {
		// 	width: 100%;
		// }
	}
}

.calculator-options {
	.speed {
		display: flex;
		justify-content: center;
		text-align: center;
	}
  
	.model {
		margin: 2rem 3.5rem;

		p {
			margin-top: 1rem;
			font-size: 2.875rem;
			color: $tesla-blue;
			letter-spacing: 0.25rem;
      position: relative;
      left: -1.25rem;

			sup {
				font-size: 1.25rem;
				margin-left: 0.25rem;
				letter-spacing: 1.2px;
        position: absolute;
			}
		}
	}
}
