@import "./fonts.scss";

// Color Variables

$tesla-black-light: #121212;
$tesla-black: #000;
$tesla-white: #fff;
$tesla-dark-blue: #040c36;
$tesla-blue: #008dff;
$tesla-light-blue: #2699fb;
$tesla-lighter-blue: #7fc4fd;
$tesla-dark-grey: #707070;
$tesla-dark-grey: #cccccc;
$tesla-light-grey: #f0f2f7;

html,
body {
	background-color: $tesla-white;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 3.75rem;
}

h2 {
	font-size: 2.15rem;
}

main,
footer {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

// utils

.container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
	display: flex;
}

.hide {
	display: none;
}

.disable-click {
	pointer-events: none;
}

@keyframes animateWheel {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// Page styles

.header {
	background-color: $tesla-black-light;
	padding: 1.35rem 0;
	text-align: center;
}

.navbar {
	background-image: url("../assets/img/hero-image@2x.jpg");
	background-repeat: no-repeat;
	background-position-y: 95%;
	background-position-x: center;
	background-size: cover;
	height: 100vh;
	width: 100%;

	.container {
		width: 100%;
	}

	.button-group {
		display: flex;
		justify-content: center;
		padding-top: 2.5rem;

		button {
			background-color: transparent;
			border: none;
			color: $tesla-white;
			font-size: 0.95rem;
			font-weight: 600;
			margin: 0 2rem;
			text-transform: uppercase;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0.85rem;
			letter-spacing: 0.75px;
			border-bottom: 1.5px solid transparent;
			cursor: pointer;

			&:hover {
				border-bottom: 1.5px solid $tesla-white;
			}

			&.active {
				border-bottom: 1.5px solid $tesla-white;
			}
		}
	}
}

.car-description {
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-weight: 300;
		color: $tesla-dark-blue;
		text-align: center;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	p {
		font-family: "Arial", sans-serif;
		text-align: center;
		font-weight: normal;
		max-width: 33.2rem;
		line-height: 1.45rem;
	}

	a {
		margin-top: 3.5rem;
		span {
			width: 4.5rem;
			height: 4.5rem;
			border: 2px solid $tesla-dark-blue;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.calculator {
	margin-top: 5rem;

	h2 {
		text-align: center;
		color: $tesla-dark-blue;
		font-weight: 400;
	}

	.full-car-image {
		position: relative;
		margin: 0;
		max-height: 388px;

		.carwheel {
			position: absolute;
			max-width: 9.5%;
			animation: animateWheel 0.5s linear infinite;

			&.left {
				left: 24.675%;
				bottom: 14%;
			}

			&.right {
				right: 26.5%;
				bottom: 14%;
			}
		}

		img:first-of-type {
			width: 100%;
			height: auto;
		}
	}
}

.calculator-options {
	.range {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.model {
		margin: 2rem 3.5rem;

		p {
			margin-top: 1rem;
			font-size: 2.875rem;
			color: $tesla-blue;
			letter-spacing: 0.25rem;
			position: relative;
			left: -1.25rem;

			sup {
				font-size: 1.25rem;
				margin-left: 0.25rem;
				letter-spacing: 1.2px;
				position: absolute;
			}
		}
	}

	> small {
		font-family: Arial;
		letter-spacing: 1.2px;
		font-size: 0.95rem;
	}
}

.calculator-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;

	.controls-container {
		border: 1px solid #b9bed1;
		background-color: $tesla-light-grey;
		color: $tesla-dark-blue;
		min-width: 13.5rem;
		height: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		&.temperature-box,
		&.speed-box {
			font-size: 2.1rem;

			small {
				font-size: 1.25rem;
				margin-right: 1.5rem;
				margin-left: 0.5rem;
				margin-top: 0.5rem;
			}
		}

		&.speed-box > p {
			min-width: 3.5rem;
			text-align: end;
		}
	}

	.divisor {
		display: block;
		width: 1px;
		height: 8rem;
		background-color: #b9bed1;
	}

	.speed-control,
	.temperature-control,
	.wheels-control {
		> p {
			font-size: 1.25rem;
			letter-spacing: 1.2px;
			color: #707070;
			margin-top: 0;
		}
	}

	.temperature-control {
		.temperature-box {
			position: relative;

			p {
				margin: 0 3.2rem;
				min-width: 2.8125rem;
				text-align: end;
			}

			sup {
				font-size: 65%;
				margin-left: 0.25rem;
				position: absolute;
				top: 1rem;
				right: 6.25rem;
			}
		}
	}

	.wheels-control {
		.wheel {
			font-size: 1.25rem;
			cursor: pointer;
			img {
				margin-right: 1.5rem;
			}
		}

		.wheel-19 img {
			width: 3.375rem;
		}

		.wheel-21 {
			margin-left: 2.5rem;
		}

		.active {
			border-width: 2px;
			border-color: $tesla-blue;
			transition: 0.7s;
		}
	}

	.heat-button {
		margin-top: 1rem;
		cursor: pointer;
	}

	.control-arrows {
		display: flex;
		flex-direction: column;
		align-items: center;

		button {
			background-color: transparent;
			border: none;
			padding: 0.675rem;
			cursor: pointer;

			img {
				max-width: 1.56rem;
			}
		}

		hr {
			width: 2.65rem;
			height: 1.2px;
			background-color: #b9bed1;
			border-style: hidden;
			margin: 0;
			opacity: 0.7;
		}
	}
}

footer {
	margin-top: 6rem;
	background-color: $tesla-black;
	padding-top: 3rem;
	padding-bottom: 3rem;

	section {
		color: $tesla-white;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		h5 {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: -0.65px;
			font-size: 0.8rem;

			a {
				color: $tesla-white;
			}
		}

		p,
		> a {
			font-family: Arial, sans-serif;
			margin: 0.3rem 0;
			color: $tesla-white;
			font-size: 0.875rem;
		}
	}

	.contact-us,
	.customer-service,
	.information {
		width: calc(80% / 4);
	}

	.subscribe {
		h5 {
			text-transform: none;
			font-family: Arial, sans-serif;
			font-size: 0.95rem;
		}

		p {
			max-width: 16.25rem;
			color: $tesla-lighter-blue;
		}

		input {
			background-color: $tesla-black;
			border: 2px solid $tesla-lighter-blue;
			padding: 0.75rem 1rem;
			margin-top: 1rem;
			border-radius: 0.25rem;
			min-width: 13.125rem;
			margin-right: 0.75rem;
			color: $tesla-white;

			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $tesla-white;
				opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: $tesla-white;
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				color: $tesla-white;
			}
		}

		button {
			background-color: $tesla-white;
			border-radius: 0.25rem;
			border: none;
			color: $tesla-light-blue;
			font-weight: 600;
			font-size: 0.75rem;
			padding: 0.85rem 1rem;
			text-transform: uppercase;
			min-width: 7.5rem;
			letter-spacing: -0.5px;
		}
	}
}

// IE specific styles/media queries

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (max-width: 767px) {
	.car-description {
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		h1,
		p {
			width: 100%;
		}
	}

  .calculator-options {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

		footer {
			.contact-us,
			.customer-service,
			.information {
				width: 100%;
        align-items: center;
			}
		}
}

@media only screen and (max-width: 1200px) {
	.car-description {
		margin-top: 2rem;
	}

	.calculator .full-car-image {
		margin-bottom: 3rem;
		.carwheel {
			&.left {
				bottom: 15%;
			}

			&.right {
				right: 26.65%;
				bottom: 15%;
			}
		}
	}

	.calculator-controls {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

// Media queries

@media only screen and (max-width: 767px) {
	.navbar {
		background-image: url("../assets/img/hero-image-medium.jpg");
		background-position-y: 13%;
		background-position-x: 30%;
		.button-group {
			flex-direction: column;
			align-items: center;

			button {
				margin: 1rem;
			}
		}
	}

	.car-description {
		h1 {
			font-size: 3.15rem;
		}
	}

	.calculator-options {
		.range {
			flex-direction: column;
		}

		.model {
			margin: 0 3.5rem;
		}
	}

	.calculator-controls {
		.divisor {
			display: none;
		}

		.wheels-control {
			margin-top: 1.5rem;
		}
	}

	footer {
		.flex-container {
			flex-wrap: wrap;
			justify-content: center;
		}

		section {
			p,
			> a {
				display: none;
			}
		}

		.contact-us,
		.customer-service,
		.information {
			width: unset;
			margin: 0 0.25rem;
		}

		.subscribe {
			align-items: center;
			h5 {
				margin-bottom: 0.5rem;
			}
		}
	}
}
@media only screen and (max-width: 660px) {
	.calculator .full-car-image {
		display: none;
	}

	.calculator-options {
		.range {
			margin-top: 4rem;
		}

		> small {
			display: block;
			text-align: center;
			line-height: 1.5rem;
		}
	}

	.calculator-controls {
		flex-direction: column;
		align-items: center;

		.controls-container {
			max-width: 216px;
		}

		.speed-control {
			margin-bottom: 2.5rem;

			> p {
				text-align: center;
			}
		}

		.wheels-control {
			margin-top: 2.25rem;
			.flex-container {
				flex-direction: column;
			}

			.wheel-21 {
				margin-left: 0;
				margin-top: 0.5rem;
			}

			> p {
				text-align: center;
			}
		}

		.temperature-control .temperature-box {
			margin: 1rem auto;

			sup {
				right: 5.75rem;
			}
		}
	}
}

@media only screen and (max-width: 463px) {
	.navbar {
		background-image: url("../assets/img/hero-image-small.jpg");
	}
	.car-description h1 {
		font-size: 2.75em;
	}

	.calculator h2 {
		font-size: 2rem;
	}

	footer {
		section {
			h5 {
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
		}

		.subscribe {
			align-items: center;
			h5 {
				margin-bottom: 0.25rem;
				margin-top: 1.75rem;
			}

			div {
				display: flex;
				flex-direction: column;
			}

			input {
				margin-right: 0;
				margin-bottom: 0.5rem;
			}
		}
	}
}
